@CHARSET "ISO-8859-1";
body{
	
    margin: 5% 20% 0 20%;
	font-family: Sans-serif;
}

.header {
	text-align: center;
}
.header2 {
	text-align: center;
}

table{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table, th, td {
	border-bottom: 1px solid #aaa;
}

th {
	border-top: 1px solid #aaa;
	height: 30px;
	background-color: #D8EBF1;
	
}
th, td {
	padding: 8px 10px 8px 10px;
}
tr:nth-child(odd){background-color: #E4E9EA}

.year-col {
	max-width: 40px;
}
.rating-col {
	max-width: 20px;
	text-align: center;
}
.status-col {
	max-width: 54px;
}
.genre-col{
	max-width: 30px;
}
.adminEdit{
	width: 20px;
}
.add {
	float:left;
}
.delete {
	margin-left: -10px;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn-action {
	color: #415563;
	background-color: #A9DAFD;
	border-color: #8EB9D8;
}
.btn-danger {
	color: #9C3131;
	margin-bottom: 15px;
	background-color: #F17F7F;
	border-color: #C57F7F;
}
.btn-function {
	color: #154A0C;
    margin-bottom: 15px;
    background-color: #9DEA8E;
    border-color: #74C565;
}
.view {
	max-width: 300px;
}
input {
	float:right;
}
textarea {
	width: 294px;
	min-height: 50px;
	margin-top: 10px;
}
a {
	text-decoration:none;
}