<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1"/>
		<title>Suggest a movie!</title>
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	</head>
	<body>
		<h1>Suggest a movie!</h1>
		<div>
			<form th:object="${movie}" th:action="${save}" action="#" method="post">
				<label for="title">Movie Name</label>
				<input type="text" id="title" th:field="*{title}" />
				<div style="clear: both; display: block; height: 10px;"></div>
		  		<label for="year">Year</label>
				<input type="text" th:field="*{year}" />
				<div style="clear: both; display: block; height: 10px;"></div>
				<label for="summary">A short summary</label>
				<input type="text" th:field="*{summary}" />
				<div style="clear: both; display: block; height: 10px;"></div>
				<label for="genrelist">Genre</label>
				<select id = "genrelist" th:field="*{genre}" class="form-control">
					<option th:each="genre: ${genres}"
							th:value="${genre.genreId}"
							th:text="${genre.genreName}"/>							
				</select>
				<div style="clear: both; display: block; height: 10px;"></div>
				<input type="submit" value="Submit"></input>
			</form>
		</div>
	</body>
</html>