<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
		<meta charset="ISO-8859-1" />
		<title th:inline="text"> Edit Movie</title>
		<link type="text/css" rel="stylesheet" th:href="@{css/custom.css}"/>
	</head>
	<body>
		<div class="view" th:object="${movie}">
		<h1 class="header" th:inline="text"> Edit [[${movie.title}]] </h1>
			<table class="table">
					<tr>
						<th th:text="*{title}"> </th>
						<th th:text="*{summary}"></th>
						<th th:text="*{genre.genreName}"></th>
						<th th:text="*{year}"></th>
					</tr>
				</table>
		
			<form th:object="${movie}" th:action="@{../save}" action="#" method="post">
				<input type="hidden" id="title" th:field="*{title}" />
				<input type="hidden" id="id" th:field="*{id}" />
				<input type="hidden" id="title" th:field="*{summary}" />
				<input type="hidden" id="title" th:field="*{genre}" />
				<input type="hidden" id="title" th:field="*{year}" />
				
				<label for="rating">Rating</label>
				<select id="rating" th:field="*{rating}">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				<div style="clear: both; display: block; height: 10px;"></div>
				<label for="status">Current Status</label>
				<select id="status" th:field="*{status}">
					<option value="Not Yet Seen">Not Yet Seen</option>
					<option value="Watched">Watched</option>
					<option value="Not Interested">Not Interested</option>
					<option value="Unfinished">Unfinished</option>
				</select>
				<div style="clear: both; display: block; height: 10px;"></div>
				<label for="approved">Approved</label>
				<select id = "approved" th:field="*{approved}" class="form-control">
					<option value="true">Approve</option>
					<option value="false">Not Approved</option>								
				</select>
				<div style="clear: both; display: block; height: 10px;"></div>
				<input class="btn btn-function" type="submit" value="Update"></input>
			</form>
		</div>
	</body>
</html>